# SPDX-FileCopyrightText: © 2023 Tiny DFT Development Team <https://github.com/molmod/acid/blob/main/AUTHORS.md>
# SPDX-License-Identifier: GPL-3.0-or-later

extends: default

rules:
  document-start: disable
  line-length:
    max: 100
  truthy: disable
